:host {
  display: block;
}

.statistic-tape {
  display: flex;
  justify-content: space-between;
  align-items: start;

  gap: 3rem;

  flex-wrap: wrap;

  padding-bottom: 3rem;

  & > .statistic {
    & > .statistic__header {
      font-size: x-large;
      margin-bottom: 1rem;

      text-align: center;
    }

    width: min(600px, 100%);
  }
}

